<div class="verse">
  <%= Verse.opening.text unless verse.chapter_id == 9 -%><br />
  <%= verse.text -%> ۝<br />
</div>
<p class="versetrans">
  <span class="versetranslation"><%= verse.translation_by('Shakir').text -%></span> <br />
  <span class="verseref"><%= verse.chapter_id -%>:<%= verse.ayah_index -%></span>
</p>
