<h1><%= @document.title -%></h1>
<ul>
  <% for section in @document.sections -%>
    <li style="margin-bottom: 3em;">
    <h2><%=h section.name %></h2>

    <ul>
      <% for asset in section.assets -%>
	<li><%= render :partial => "assets/#{asset.partial_directory}/#{asset.partial}", :object => asset.item -%></li>
      <% end -%>
    </ul>

    <p><%= link_to 'Add Text Asset', new_document_section_text_asset_path(@document, section) -%></p>
    </li>
  <% end -%>
</ul>


<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
